body {
    font-family: "Nunito Sans", sans-serif;
    margin-top: 0px;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
  }
  
  h1,
  h3 {
    color: #ff9900;
    text-shadow: 2px 2px 4px #333;
    letter-spacing: 4px;
    text-align: center;
    padding: 20px 5px;
    background-color: #333;
    border-radius: 8px;
  }
  
  h1::after {
    content: ""; 
    display: block;
    width: 35%;
    height: 3px;
    background-color: #ff9900;
    margin: 10px auto;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(255, 153, 0, 0.8); 
}

h1:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

h1 span {
    font-style: italic;
    font-weight: bold;
}

  svg {
    display: block;
    margin: auto;
  }

  #title {
    color: #ff9900; /
    text-shadow: 2px 2px 4px #333; 
    letter-spacing: 4px; 
    padding: 10px;
    background-color: #d14646;
    border-radius: 8px; 
}
  #tooltip {
    padding: 4px;
    background: #fffeb7;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    color: black;
  }